.header_btn {
    position: relative;
    z-index: 10;
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    display: grid;
    place-content: center;
    
    
}
.noscroll
.noscroll body {
     overflow: hidden;
    }
